*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all 0.3 linear;
}

.body{
    width: 100%;
    height: 92.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #74ebD5;
    background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
    
}

h5{
    font-size: 5px;
    padding: 20px 0;
    color: #777;
}
p{
    font-size: 15px;
    color: #777;
}
a{
    
    padding-left: 80px;
   
}
