{% extends 'expense/base.html' %}

    {% block content %}
    <div class="container">
        
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4">You sure? {{object}}</legend>
                {{form.as_p}}
            </fieldset>
            
            <div class="form-group py-3">
                <input class="btn btn-outline-danger mt-60" type="submit" value="Delete"/>
            </div>
            
        </form>
        
        <div class="border-top pt-3">
            <a href="{% url 'expense-home' %}">Cancel</a>
        </div>
        
    </div>
    {% endblock content %}
